#Agregamos ficheros y carpetas al docker ignore
dist/
node_modules/
README.md
Dockerfile
Makefile
.gitignore
.editorconfig
.idea/
.git/
.angular/
package-lock.json
Dockerfile
.angular/
pnpm-lock.yaml
bun.lock

